@model IEnumerable<ElectoApp.Models.Country>

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <h3>Countries in the World</h3>
    <p>
        <a asp-action="Create">Add More Countries</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CountryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CounContinent)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CounContinent)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.CountryId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.CountryId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.CountryId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <h3>Countries in the World</h3>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CountryName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CounContinent)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.CountryName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CounContinent)
                    </td>
                    <td>

                        <a asp-action="Details" asp-route-id="@item.CountryId">Details</a>

                    </td>
                </tr>
            }
        </tbody>
    </table>


}
