@model ElectoApp.Models.President


@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{

    <div>
        <h2>Head Of State from @Html.DisplayFor(model => model.PresCountry)</h2>
    </div>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Head of State for @Html.DisplayFor(model => model.PresCountry)</a></li>
            <li><a href="#tabs-2">About @Html.DisplayFor(model => model.PresCountry)</a></li>

        </ul>
        <div id="tabs-1">
            @{var base64 = Convert.ToBase64String(@Model.Photo);
                var imgSrc = String.Format("data:image/jpg;base64,{0}", base64); }

            <img src="@Url.Content(imgSrc)" class="imgdetails" />

            <p><b>Full Name:</b> @Html.DisplayFor(model => model.FullName)</p>
            <p><b>Terms Serving:</b>@Html.DisplayFor(model => model.OfficeTerms)</p>
            <p><b>Assumed Office Date:</b>  @Html.DisplayFor(model => model.AssumedOffice)</p>
            <p><b>Political Party:</b> @Html.DisplayFor(model => model.PoliticalParty)</p>
        </div>
        <div id="tabs-2">
            <p><b>Former Head of State:</b> @Html.DisplayFor(model => model.PrecededBy)</p>
            <p><b>Country:</b>@Html.DisplayFor(model => model.PresCountry)</p>
            <p><b>Capital City:</b>  @Html.DisplayFor(model => model.PresCapital)</p>
            <p><b>Continent:</b> @Html.DisplayFor(model => model.PresContinent)</p>
        </div>

        <a class="btn btn-primary" asp-action="Index">Back to List</a>
        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.PresidentId">Delete</a>
    </div>
}

else
{
    <div>
        <h2>Head Of State from @Html.DisplayFor(model => model.PresCountry)</h2>
    </div>
    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Head of State for @Html.DisplayFor(model => model.PresCountry)</a></li>
            <li><a href="#tabs-2">About @Html.DisplayFor(model => model.PresCountry)</a></li>

        </ul>
        <div id="tabs-1">
            @{var base64 = Convert.ToBase64String(@Model.Photo);
                var imgSrc = String.Format("data:image/jpg;base64,{0}", base64); }

            <img src="@Url.Content(imgSrc)" class="imgdetails" />

            <p><b>Full Name:</b> @Html.DisplayFor(model => model.FullName)</p>
            <p><b>Terms Serving:</b>@Html.DisplayFor(model => model.OfficeTerms)</p>
            <p><b>Assumed Office Date:</b>  @Html.DisplayFor(model => model.AssumedOffice)</p>
            <p><b>Political Party:</b> @Html.DisplayFor(model => model.PoliticalParty)</p>
        </div>
        <div id="tabs-2">
            <p><b>Former Head of State:</b> @Html.DisplayFor(model => model.PrecededBy)</p>
            <p><b>Country:</b>@Html.DisplayFor(model => model.PresCountry)</p>
            <p><b>Capital City:</b>  @Html.DisplayFor(model => model.PresCapital)</p>
            <p><b>Continent:</b> @Html.DisplayFor(model => model.PresContinent)</p>
        </div>

        <a class="btn btn-primary" asp-action="Index">Back to List</a>
        @*<a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.PresidentId">Delete</a>*@
    </div>

}




<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
@section Scripts {
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#tabs").tabs();
        });
    </script>
}